<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Preguntas
      <span class="glyphicon glyphicon-plus btn btn-default btn-circle btn-lg " ng-click="$scope.creating=true" ></span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" ng-hide="!$scope.creating" class="hidden">
      <div class="panel-body">

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Pregunta:</span>
          <input type="text" class="form-control" ng-model=newQuestion.pregunta aria-describedby="basic-addon1">
        </div>
        <div class="btn-group" uib-dropdown is-open="status.isopen" style="margin:0 auto; margin-bottom: 7px;">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{newQuestion.materia}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="newQuestion.materia = 'Estudios Sociales'">Estudios Sociales</a></li>
            <li role="menuitem"><a ng-click="newQuestion.materia = 'Matematica'">Matematica</a></li>
            <li role="menuitem"><a ng-click="newQuestion.materia = 'Ciencias'">Ciencias</a></li>
            <li role="menuitem"><a ng-click="newQuestion.materia = 'Español'">Español</a></li>
          </ul>
        </div>

        <div class="input-group">
          <label>
            <input type="radio" id="q128" name="radiogroup" value="marque-x" ng-model="newQuestion.tipo" /> Marque con equis
          </label>
          <label >
            <input type="radio" id="q129" name="radiogroup"  ng-model="newQuestion.tipo" value="desarrollo" /> Desarrollo
          </label>
        </div>
          
        <div class="" ng-hide="!(newQuestion.tipo == 'marque-x')" class="hidden">
          <h4>Opciones:</h4>
          <div class="input-group" ng-repeat="opcion in newQuestion.opciones">
            <span class="input-group-addon">
              <input  type="radio"  name="radioOpcion" aria-label="...">
            </span>
            <input ng-model="opcion.nombre" type="text" class="form-control" aria-label="...">

          </div>

        </div>
        <button type="button" class="btn btn-info" ng-click="agregarPregunta()" style="display: block; margin: 0 auto; margin-top:5px;">Agregar Pregunta</button>
      </div>
    </div>
    <div class="panel panel-default" ng-repeat="pregunta in preguntas">
      <div class="panel-heading">{{pregunta.pregunta}}</div>
      <div class="panel-body">
        <span class="label label-primary">Tipo:</span> {{pregunta.tipo}}
        <span class="label label-primary">Materia:</span> {{pregunta.materia}}
        <div class="" ng-hide="!(pregunta.tipo == 'marque-x')" class="hidden">
          <h4>Opciones:</h4>
          <ul >
            <li ng-repeat="opcion in pregunta.opciones">
              {{opcion.nombre}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
